.banner {
    padding: 3rem;
    background-color: #001529;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Contents {
        max-width: 50%;
        color: #fff;
    }

    img {
        height: 300px;
        width: auto;
    }
}